.idea/
# excel files
*.xlsx
# output files
*.out
# executables
*.exe
!gui.exe
# vim swap files
*.swp
# test compiled file
test
# compiled make file
UVSim
# object files
*.o
# core dump files
UVSim

gui/build/Desktop_Qt_6_7_1_MinGW_64_bit-Debug/.qtc_clangd/compile_commands.json
